<h1>Listing troop_choices</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @troop_choices.each do |troop_choice| %>
  <tr>
    <td><%=h troop_choice.name %></td>
    <td><%= link_to 'Show', troop_choice %></td>
    <td><%= link_to 'Edit', edit_troop_choice_path(troop_choice) %></td>
    <td><%= link_to 'Destroy', troop_choice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New troop_choice', new_troop_choice_path %>